In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [100]:
df = pd.read_csv("~/Desktop/fake_job_postings.csv")
df

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17876,17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17878,17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [102]:
len(df['function'].unique())

38

In [103]:
# drop department because of many missing values, drop first couple of columns because they are too descriptive and varied
df=df.drop(["department","job_id","title","location","salary_range","company_profile","description","requirements","benefits"],axis=1)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   telecommuting        17880 non-null  int64
 1   has_company_logo     17880 non-null  int64
 2   has_questions        17880 non-null  int64
 3   employment_type      14409 non-null  object
 4   required_experience  10830 non-null  object
 5   required_education   9775 non-null   object
 6   industry             12977 non-null  object
 7   function             11425 non-null  object
 8   fraudulent           17880 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.2+ MB

In [105]:
df=df.dropna()

In [106]:
df

,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
3,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
6,0,1,1,Full-time,Mid-Senior level,Master's Degree,Online Media,Management,0
9,0,1,0,Part-time,Entry level,High School or equivalent,Financial Services,Customer Service,0
10,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Information Technology,0
...,...,...,...,...,...,...,...,...,...
17867,0,1,0,Full-time,Entry level,Unspecified,Human Resources,Sales,0
17870,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Retail,Financial Analyst,0
17874,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Information Technology,0
17876,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0

In [107]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['employment_type', 'required_experience',"required_education","industry","function"]) 
one_hot_encoded_data.columns

Index(['telecommuting', 'has_company_logo', 'has_questions', 'fraudulent',
       'employment_type_Contract', 'employment_type_Full-time',
       'employment_type_Other', 'employment_type_Part-time',
       'employment_type_Temporary', 'required_experience_Associate',
       ...
       'function_Public Relations', 'function_Purchasing',
       'function_Quality Assurance', 'function_Research', 'function_Sales',
       'function_Science', 'function_Strategy/Planning',
       'function_Supply Chain', 'function_Training',
       'function_Writing/Editing'],
      dtype='object', length=195)

In [108]:
df_final=one_hot_encoded_data

In [109]:
df_final['fraudulent'].value_counts()

0    7273
1     342
Name: fraudulent, dtype: int64

# Baseline model accuracy

In [110]:
# assume model only returns 0 for all inputs, accuracy is:
7273/(7273+342)

0.9550886408404465

# Train test split

In [111]:
from sklearn.model_selection import train_test_split 
import sklearn

X= df_final.drop(['fraudulent'],axis=1) 
y=df['fraudulent'] 
  
# using the train test split function 
X_train, X_test, y_train, y_test = train_test_split(X,y , 
                                   random_state=104,  
                                   test_size=0.20,  
                                   shuffle=True)

In [112]:
from sklearn.linear_model import LogisticRegression 
from sklearn import metrics 

logreg =  LogisticRegression(solver='liblinear') 
# fit the model with data 
logreg.fit(X_train,y_train) 

# predicting 
y_pred=logreg.predict(X_test) 
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)) 

print("Precision:",metrics.precision_score(y_test, y_pred)) 

print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.9606040709126723
Precision: 0.7857142857142857
Recall: 0.16176470588235295

In [113]:
X_train

,telecommuting,has_company_logo,has_questions,employment_type_Contract,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,required_experience_Associate,required_experience_Director,...,function_Public Relations,function_Purchasing,function_Quality Assurance,function_Research,function_Sales,function_Science,function_Strategy/Planning,function_Supply Chain,function_Training,function_Writing/Editing
12776,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1696,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
53,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10088,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
911,0,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12076,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1558,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13151,0,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
136,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
print(logreg.coef_)

[[-0.02045584 -1.72094742  0.40406247 -0.05789696 -0.33778581  0.42310486
  -0.78670691 -0.93249282 -0.75142317  0.39636293 -0.31622843 -0.4200733
  -0.25964725 -0.13838755 -0.20238086 -0.27199756 -0.74734036  0.71469484
   0.31057167  0.35592607  0.2071596  -0.48371067 -0.03295112 -0.41680456
  -0.24133554 -0.81082148 -0.07367426 -0.20149426  2.13638501  0.16717343
   0.          0.         -0.46629703 -0.06181143  0.02602562 -0.32314507
  -0.65117334  1.2172144   0.70787493 -0.2484429   0.45342371 -0.1924176
  -0.42360772 -0.40903084  0.38180686 -0.03047087  1.51907134 -0.52458749
   0.64930955  2.52951131 -1.31447932 -0.87509338 -0.54411209 -0.1841999
   0.56304648  0.44416905  0.7441207   0.48636978 -0.88376255 -1.25592116
   0.19484376  0.72297474  0.60322394 -0.70070881  0.21739184 -0.45169219
  -0.42925188 -0.04012784 -0.63901343  0.04523339 -0.16135593 -0.85113678
  -0.48238726 -0.35300315 -0.26489171 -1.03858133 -0.20524558  0.06308653
   0.41032894  0.5757593  -0.26445768 -0.08843705 -0.31466027 -0.28730925
  -0.41064194  0.61537008 -0.39260837 -1.95803374 -0.01691977 -0.02990741
  -0.22360231 -0.53824828 -1.10641368 -0.59391357 -0.4565949   0.16106385
  -0.02643521 -0.17715081  0.38192155 -0.00841586  0.88156052  0.90828714
  -0.2922449   0.78099658  0.14327639 -0.64002119 -0.24766587  0.83242481
  -0.00338454 -0.0446561  -0.00818404 -0.09746159 -0.04191026 -0.86545568
   2.56784115 -0.61041413 -0.12950134 -0.18874797 -0.16175134 -0.01608868
  -0.31969814 -0.13248616 -0.06014412 -0.22588062 -0.06434833 -0.55556023
  -0.13695706 -0.23399972 -0.01785485 -0.37097659  0.67145852 -0.26430753
   0.          1.06834139 -0.04390718 -0.10329013 -0.14210396 -0.27290714
   0.11935861  0.56335459 -0.13594599 -0.01221248 -0.02650013 -0.15256929
   0.51825559  0.77025386  0.         -0.1940748   0.59951338  0.19314105
  -0.32939183 -0.21686014  0.3300551  -0.18912799 -0.00946966 -0.1187093
  -0.08012666  0.7738513   1.46132357  0.32182488 -0.38779993 -0.56613537
   0.77281261 -0.87806504  0.81236011 -0.22763838 -0.54510901  0.66962863
  -0.23057359  0.5008939   0.66078343  1.5368182  -0.75053514 -1.26209499
   0.26989378  0.11811655 -0.56464628 -0.14356962 -0.30541151 -0.69290305
   0.75509677 -0.43257859 -0.77438956  0.66791371  0.15839155 -0.11629698
  -0.63708161 -0.28102663 -0.54225734 -0.10572221 -0.38774016 -0.4200236
  -0.33994617 -0.57994188]]

# Feature selection

telecommuting dropped because of small weights

In [118]:
# drop deparment because of many missing values
df_final=df_final.drop(["telecommuting"],axis=1)

In [119]:
from sklearn.model_selection import train_test_split 
import sklearn

X= df_final.drop(['fraudulent'],axis=1) 
y=df['fraudulent'] 
  
# using the train test split function 
X_train, X_test, y_train, y_test = train_test_split(X,y , 
                                   random_state=104,  
                                   test_size=0.20,  
                                   shuffle=True) 
from sklearn.linear_model import LogisticRegression 
from sklearn import metrics 

logreg =  LogisticRegression(solver='liblinear') 
# fit the model with data 
logreg.fit(X_train,y_train) 

# predicting 
y_pred=logreg.predict(X_test) 
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)) 

print("Precision:",metrics.precision_score(y_test, y_pred)) 

print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy: 0.9606040709126723
Precision: 0.7857142857142857
Recall: 0.16176470588235295

# Model selection

In [121]:
# Create Decision Tree classifer object
from sklearn.tree import DecisionTreeClassifier 
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9704530531845043

In [123]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9763624425476034